/*******************************
 *          PALETTE
 ******************************/
 /* :root{  
    --color0: #1f306e;
    --color0-dark: #1a2240;
    --color0-light: #2c4396;
    --color0-verylight: #C6C6DC;
    --color1: #553772;
    --color1-dark: #291834;
    --color2: #8D3A74;
    --color2-inverted: #72c58b;
    --color3: #C7417B;
    --color3-light: #F5B2CD;
    --color4: #F5487F;

    --dark-shadow: black;
    --transparent: #ffffff14;
    --transparent-full: #ffffff00;
    --transparent-dark: #20131345;
    --transparent-dark-inverted: #ffffff5e;
    --transparent-light: #ffffff2b;
    --lateral-padding: 2em;
    --content-max_width: 1200px;
    --error: #ff70ba;
    --error-background: #140f21;
    --success: rgb(25,135,84);
    --success-background: var(--color2);
    --danger: darkred;
} */

:root{  
    --color0: #1f306e;
    --color0-dark: #1a2240;
    --color0-light: #2c4396;
    --color0-verylight: #C6C6DC;
    --color1: #553772;
    --color1-dark: #291834;
    --color2: #ddae2d;
    --color2-inverted: #2251d2;
    --color3: #ff9b00;
    --color3-light: #D36C22;
    --color4: #F5487F;
    --color5: #dd762d;
    --dark: #151515;
    --error: #ff4d4d;

    --green: #8fb425;
    --green-acceso: #bcff00;
    --dark-shadow: black;
    --transparent: #ffffff14;
    --transparent-full: #ffffff00;
    --transparent-dark: #0000005c;
    --transparent-dark-inverted: #ffffff5e;
    --transparent-light: #ffffff2b;
    --lateral-padding: 2em;
    --content-max_width: 1200px;
    --error-background: #140f21;
    --success: rgb(25,135,84);
    --success-background: var(--color2);
    --danger: darkred;
}


html{
    background-color: var(--color0);
}

html, body{
    /* background-image: linear-gradient(to bottom right, #2c4396, #8f3b76); */
    background-color: #212121;
    font-family: "Poppins", sans-serif;
    color: white;
    margin: 0 auto;
}
main{
    max-width: var(--content-max_width);
    margin: 0 auto;
}
 /* FOOTER NUOVO */
html{ height:100%; }
body { min-height:100%;  margin:0; }
body {
    display: table;
    width: 100%; 
}
body > footer {
    display: table-footer-group;
}
/* FINE FOOTER NUOVO */

header{
    box-shadow: -5px -3px 9px 0px #000000;
}

input {
    font-family: inherit;
}

h2 {
    font-size: 1.5em;
}

a{
    display: inline-block;
    color: var(--color2);
}

a:visited{
    color: var(--color5);
}

.icon{
    width: 15px;
    height: auto;
    margin-right: 0.5em;
}
.iconAP{
    width: 20px;
    height: auto;
}

.text-bold {
    font-weight: bold;
}

#img-logo{
    max-width: 30%;
    margin: 1em 2em;
    transition: transform 0.25s;
    height: auto;
}

#img-logo:hover{
    transform: scale(0.95);
}

#divLogo {
    display: flex;
    background-color: inherit;
}

h1#title{
    color: white;
    max-width: 5em;
    font-size: 1.2em;
    text-indent: -999em;
    position: absolute;
}

a.skip-to-content {
    position: absolute;
    z-index: 300;
    left: 0;
    transform: translateY(-110%);
    background-color: var(--color0-dark);
    padding: .5em 2em;
    color: white;
    transition: transform .2s ease-out;
    font-size: 1.2em;
}

a.skip-to-content:visited,
a.skip-to-content:link {
    color: white;
}

a.skip-to-content:focus {
    transform: translateY(0);
    background-color: var(--color0-dark);
}

nav{
    display: flex;
    margin: auto;
    padding: 0 1.5em;
}

nav, main {
    max-width: 1200px;
}

nav ul{
    display: flex;
    list-style-type: none;
    margin: auto;
    margin-left:0;  
    padding-left: 0;
    margin-right: 2em;
}

nav li{
    font-size: 1.3em;
    padding: 0.25em 1.5em;
    color: white;
    text-align: center;
    transition: background-color 0.25s;
}

nav li > a {
    text-decoration: none;
    color: inherit;
    background-color: var(--transparent-full);
    padding: 0;
}

nav li > a:visited{
    color: inherit;
}

nav li:hover {
    background-color: var(--transparent-light);
}

#main-menu li{
    min-width: 6em;
}

li#selectedNavbar{
    font-weight: bold;
    background-color: var(--color2);
    color: black;
}

ul#breadcrumb{
    width: 100%;
    font-size: 0.8em;
    padding: 0;
    display: flex;
    color:white;
    padding: 0.9em 1em;
    padding-left: 0;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    max-width: 1200px;
}

#breadcrumb li{
    background-color: var(--transparent-light);
    width: 7em;
    margin: 0;
    padding: 0.25em 0.5em;
    text-align: center;
    -webkit-clip-path: polygon(0 0, 10% 50%, 0 100%, 90% 100%, 100% 50%, 90% 0);
    clip-path: polygon(0 0, 10% 50%, 0 100%, 90% 100%, 100% 50%, 90% 0);
}

#breadcrumb a{
    text-decoration: none;
    color: inherit;
}

li#selectedBreadcrumb{
    background-color: var(--color2);
    font-weight: bold;
    color: black;
}
#breadcrumb li#selectedBreadcrumb.firstBreadcrumb, #breadcrumb li.firstBreadcrumb{
    -webkit-clip-path: polygon(0 0, 0 100%, 90% 100%, 100% 50%, 90% 0);
    clip-path: polygon(0 0, 0 100%, 90% 100%, 100% 50%, 90% 0);
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    grid-template-areas: 
        "a a b c"
        "d e b c"
        "d e f f"
        "g g g g";
    margin: auto;
    margin-top:0;
}

.grid-container#content {
    background-color: transparent;
    padding-top: 0;
}

.grid-item{
    color: white;
    display: flex;
    /* background-color: var(--color0); */
    background-color: var(--transparent-dark);
    box-shadow: 0 0 10px black;
    margin-bottom: em;
}

#grid-item-a{
    width: 100%;
    flex-direction: column;
    grid-area: a;
}
#grid-item-b{
    width:100%;
    flex-direction: column;
    grid-area: b;
}
#grid-item-c{
    width:100%;
    flex-direction: column;
    grid-area: c;
}
#grid-item-d{
    width:100%;
    flex-direction: column;
    grid-area: d;
}
#grid-item-e{
    width:100%;
    flex-direction: column;
    grid-area: e;
}
#grid-item-f{
    width:100%;
    grid-area: f;
}
#grid-item-g{
    width:100%;
    grid-area: g;
}

.grid-item p{
    font-size: 1.5em;
    max-width: 13em;
}

p.grid-item-title-horizontal{
    margin: auto 1em;
    font-size: 1.3em;
}

p.grid-item-title-vertical{
    margin: auto;
    font-size: 1.3em;
    padding: 1em 1.8em;
}

.grid-img-horizontal, .grid-img-vertical{
    width: 15em;
    height: auto;
    margin: 1em;
}

.grid-img-horizontal {
    margin-left: 2em;
}

.grid-img-vertical{
    margin: 1em auto;
}

div.grid-item > img.profilePicture {
    border-radius: 0;
}

#grid-item-c>.grid-img-vertical{
    margin-bottom: 1em;
}

#grid-item-g h2{
    margin: 0 auto;
    margin-top: 0.5em;
    font-size: 2em;
    text-align: center;
}
#grid-item-g h3{
    font-size: 1.5em;
    margin: 1em;
    margin-bottom: 0;
    text-align: center;
}
#bmi-explaination p{
    text-align: center;
    font-size: 1em;
    margin: 0 2.5em;
    margin-bottom: 1em;
    max-width: none;
}
#bmi-explaination{
    width:25%;
    align-items: center;
    background-color: var(--transparent);
}

#classi-bmi{
    background-color: var(--transparent);
}

#valori-bmi{
    margin: 1em 1em;
}
#valori-bmi>caption{
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em;
}
#valori-bmi td, #valori-bmi th{
    padding: 0.5em;
    /* border-color: var(--color0-dark); */
}

td, th{
    text-align: center;
    border-style: solid;
    border-width: 0.2em;
    /* border-color: var(--color0); */
    border-color: var(--transparent-full);
    padding: 0.5em;
    background-color: var(--transparent);
}

th{
    font-size:1.1em;
}

table{
    margin: 0 1em;
    margin-bottom: 1em;
    border-collapse: separate;
    border-spacing: 0.2em;
}

thead {
    font-size: 1.25em;
    padding: 0.75em 2em;
}

#orari>caption{
    font-size: 1.7em;
    padding: 0.5em;
}

.cursive{
    font-style: italic;
}

#inserimento-dati{
    margin: auto;
    width: 50%;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#inserimento-dati label{
    width: 4em;
    font-size: 1.5em;
    margin-right:0.5em;
    text-align: right;
}
#inserimento-dati p{
    font-size:1.25em;
    padding-left: 0.25em;
}
input[type="text"], input[type="number"]{
    font-size: 1.1em;
    padding: 0.5em;
    /* height: 1.75em; */
    /* width: 30%; */
    background-color: var(--transparent-dark);
    border: solid 0.1em;
    border-radius: 0.5em;
    border-color: #ffffff1a;
    color:white;
}
#inserimento-dati input[type="text"]{
    width: 15%;
}
.transparent-login {
    font-size: 1.25em;
    font-family: inherit;
    background-color: var(--transparent-dark);
    border: solid 0.1em;
    border-radius: 0.5em;
    border-color: #ffffff1a;
    color:white;
}
#loginBtn{
    margin-top: 0;
}
#inserimento-dati button.button{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 1.4em;
}
#altezza, #peso{
    align-items: center;
    display: flex;
    justify-content: center;
}

#bmi-result{
    margin:0.5em auto;
    max-width: 50em;
}

footer{
    text-align: center;

    padding-bottom: 1em;
    box-shadow: -2px 4px 9px 0px #000000;
    /* position: absolute;
    bottom: 0; 
    width: 100%; */
}

footer a, footer a:visited{
    color: white;
}

footer li > a {
    color: inherit;
    background-color: inherit;
}

footer li > a:visited{
    color: inherit;
}

footer ul{
    padding: 0;
    margin-top:0;
    list-style-type: none;
}

#contatti-social{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 1em;
}

footer h3{
    margin-bottom: 0;
    color: var(--color2);
}

#contatti, #social, #Indirizzo{
    width: 33%;
}

footer>p{
    margin: 1em;
}

#link-indirizzo{
    background-color: transparent;
}

main#content {
    /* background-color: var(--color0); */
    background-color: var(--transparent-dark);
    color: white;
    padding: 1.5em 1.5em;
    margin: auto;
    margin-bottom: 2em;
}

h1 {
    text-align: center;
}

/*******************************
 *          LOGIN
 ******************************/
div.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: auto;
}

div.form-wrapper form {
    width: 80%;
}

div.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inline-selectbox div.input-wrapper {
    width: auto;
}

div.input-wrapper-with-image {
    /* text-align: center; */
}

/* div.input-wrapper-with-image > #copertina-img {
    margin: auto;
} */

#copertina-img.profilePicture {
    border-radius: 0;
    margin-bottom: 1em;
}

div.input-wrapper input {
    padding: 0.5em 0.4em;
    font-size: 1em;
}

div.input-wrapper label {
    font-size: 1.2em;

}

#loginForm{
    padding: 2em 1em;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/********************************
 *          CORSI
 *******************************/
 

table#corsi-mobile{
    display: none;
}
#mobile-corsi-title{
    display: none;
}
table#corsi>caption {
    font-size: 2em;
    font-weight: bold;
    padding-bottom: 0.5em;
}

#corsoDescription{
    text-align: center;
    padding: 0 10em;
}

table#corsi {
    margin: auto;
    width: 100%;
}

th {
    font-size: 1em;
    background-color: var(--transparent-light);
}

table#corsi th {
    padding: 1em 2em;
}

table#corsi td {
    padding: 0.6em 0em;
}

.white-box {
    margin: 2em 0em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.white-box.corsi {
    margin: 0;
}
.table-box.corsi {
    margin-bottom: 3em;
}

div.corso-card {
    padding: 1.5em;
    background-color: var(--transparent);
    width: 28.5%;
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 1em;
    justify-content: flex-end;
}

.corso-card > a.button {
    margin-top: auto;
    margin-bottom: 0;
}

.title-card {
    display: flex;
    flex-direction: column;
}

.descrizione-card {
    margin: 0 1em;
    margin-bottom: 1em;
    text-align: center;
}

span.little-title {
    font-size: medium   ;
    font-weight: lighter;
}

p.title-card {
    font-size: 2em;
    margin: 0.5em 0em;
    font-weight: bold;
    text-align: center;
}


/***********************************
 *          SESSIONE
 **********************************/
/* #mainPrenotazione{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
} */
#formSessione{
    text-align: center;
    background-color: var(--transparent);
    color:white;
    margin: 0;
    padding: 0.7em;
    /*
    min-width: 25em;
    width: -webkit-fill-available;
    */
}
#private-area-table {
    background-color: var(--transparent);
    text-align: center;
    padding: 1.5em;
    width: 100%;
    width: -webkit-fill-available;
    margin: 0;
    margin-top: 1.5em;
}
#head-private-area-top {
    /* margin-top: 0;
    margin-bottom: 1em; */
}
.private-area-title-and-button {
    margin: 0 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.private-area-title-and-button a{
    font-size: 1em;
    margin: 0;
}
.table-prenotazione {
    margin: 0;
    margin-top: 0.5em;
    width: 100%;
}
.table-prenotazione.table-prenotazione-e-utenti {
    padding: 1em 2em;
}
.table-prenotazione button {
    margin: 0;
    width: 100%;
    width: -webkit-fill-available;
    border-radius: 0;
}
#tabPrenotate.full-button tr > td:last-child,
.full-button tr > td:last-child,
.lista-corsi.full-button tr > td:nth-last-child(2){
    padding: 0;
    border: 0;
}
.lista-corsi.full-button tr > td > a.button {
    margin: 0;
    width: auto;
    border-radius: 0;
}
.full-button .button.button-filter {
    padding: 0.5em 1.75em;
}
.link-sopra-table {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
table .button.button-filter {
    margin: auto;
}
#private-area-top {
    background-color: var(--transparent);
    padding: 1.5em;
}
.button.button-filter {
    margin: 0;
    font-size: 1.2em;
    padding: 0.3em 0.5em;
    margin-left: 0.5em;
}
h2 {
    text-align: center;
}

.triple-buttons #creaBtn{
    background-color: var(--green);
}
.triple-buttons #creaBtn:hover{
    background-color: var(--green-acceso);
}
.triple-buttons #annullaBtn{
    background-color: var(--transparent);
    color: white;
}
.triple-buttons #annullaBtn:hover{
    background-color: var(--transparent-light);
    color: white;
}
.triple-buttons #confirmElimination{
    background-color: #bd3816;
    color: black;
}
.triple-buttons #confirmElimination:hover{
    background-color: #ee3506;
    color: black;
}
#annullaBtn.white {
    background-color: white;
}

form.filtri {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin: auto;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
}

form.filtri input {
    max-width: 10em;
}

p.response, ul.response {
    padding: 1em;
    border-radius: 16px;
    color: white;
    width: 80%;
    margin: 1.2em auto;
    font-weight: 600;
    font-size: 1em;
    text-align: center;
}

ul.response {
    list-style: none;
}

p.success {
    background-color: var(--success);
}

p.danger, ul.danger {
    background-color: var(--danger);
}

div#errori {
    background: var(--danger);
    padding: 0.8em;
    border-radius: 16px;
    font-weight: 600;
    font-size: 1em;
    margin: 0 6em;
}

div#errori > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.filtri label {
    margin-right: 0.75em;
}
.filtri input[type=text] {
    margin-right: 2em;
}
#giornoSettimana{
    font-size: 1.2em;
    margin: 0 0.5em;
}
#mainPrenotazione h2{
    margin: 0 auto;
    padding: 0 1em;
    font-size: 2em;
    padding-top:1em;
}
#formSessione>h2{
    margin: 0 10%;
    font-size: 2em;
    padding-top:1em;
}
#formSessione label{
    font-size: 1.5em;
    /* min-width: 15em; */
}
.inline-selectbox #label-solo-data {
    min-width: 0em;
    margin-right: 1em;
}
.selezione-data #label-solo-data {
    height: auto;
}
.selezione-data-e-ora .inline-selectbox{
    /* justify-content: space-evenly;  */
}
.selezione-data-e-ora .inline-selectbox .error{
    height: 1.5em; 
    float: right;
    text-align: right;
    width: 20em;
    margin:0;
    color: var(--error);
}
.selezione-data-e-ora label{
    height: 3.5em; 
    text-align: left;
}
#formSessione select{
    font-family: inherit;
    font-size: 1.25em;
    background-color: var(--transparent-dark);
}
#prenota:disabled{
    background-color: grey;
    cursor: initial;
}
.form-el-margin-top{
    margin-top: 1.5em;
}
#tabPrenotate-container{
    text-align: center;
    background-color: var(--transparent-dark);
    color:white;
    min-width: 25em;
    padding-top: 1em;
    margin-top: 1.5em;
}
#tabPrenotate{
    margin: 1em auto;
    font-size: 1.2em;
    width: 70%;
}
#tabPrenotate td, #tabPrenotate th{
    padding: 0.3em;
}
#tabPrenotate a{
    font-size: 1em;
    text-decoration: none;
    color: black;
    margin: 0;
    width: auto;
    border-radius: 0;
}

#btn-cancella{
    font-family: "Poppins";
    font-size: 1em;
    font-weight:bold;
    margin: 0 auto;
    padding: 0.25em 0.5em;
    border-radius: 1em;
    cursor: pointer;
}
#btn-conferma, #btn-annulla{
    padding: 0.2em 0.4em; 
    font-size: 1em;
    display: none;
    min-width: 5.5em;
}
#btn-annulla{
    margin-top: 0.2em;
}
#tabPrenotate #btn-conferma, #tabPrenotate #btn-annulla {
    margin: auto;
}
#tabPrenotate.full-button #btn-cancella,
#tabPrenotate.full-button #btn-conferma,
#tabPrenotate.full-button #btn-annulla {
    width: 100%;
    border-radius: 0;
    padding: 0.8em 0;
}
abbr[title] {
    text-decoration: none;
}
#formModificaCorso div.input-wrapper.alt_img {
    display: flex;
}
#risultatoContatoreSessioni{
    font-size: 1.5em;
}

.button {
    font-size: 1.4em;
    font-weight: bold;
    border:none;
    display: block;
    cursor: pointer;
    border-radius: 0.5em;
    /* box-shadow: 0px 0px 3px var(--transparent-dark); */
    font-family: inherit;
    margin: auto;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 0.5em 1.75em;
    transition: background-color 0.25s;
    text-align: center;
}
.button-blue {
    background-color: var(--color0-light);
    color: white;
}
.button-blue:hover{
    background-color: var(--color0-verylight);
    color: var(--color0-dark);
}

.button.button-purple {
    background-color: var(--color2);
    color: #181818;
}
.button.button-purple:hover{
    background-color: var(--color3);
    color: #181818;
}
.button.button-transparent {
    background-color: var(--transparent);
    color: white;
}
.button.button-transparent:hover{
    background-color: var(--transparent-light);
    color: white;
}

.button-violet {
    background-color: #900000;
    color: white;
}
.button.button-violet:hover{
    background-color: black;
}

.button-light{
    background-color: var(--color0-verylight);
    color: var(--color0-dark);
    font-size: 1.25em;
    font-weight: bold;
    border:none;
    padding: 1em 2em;
    margin: auto;
    display: block;
    cursor: pointer;
    border-radius: 1em;
    box-shadow: 0px 0px 3px var(--color0-dark);
}
.button-light:hover{
    background-color: var(--color0-light);
    color: white;
}
.button.button-modal{
    margin-top: 0;
    margin-bottom: 0;
}
.private-area-button{
    margin-top: 0;
}
select {
    background-color: var(--transparent);
    color: white;
    border: solid 0.1em;
    border-radius: 0.5em;
    border-color: #ffffff1a;
    padding: 0.25em 0.5em;
    margin: 0.5em 0;
}
select#giornoSessione {
    margin-right:0.2em;
}

/*----PRENOTAZIONE SCHEDA----*/

#btn-crea-scheda{
    margin: 0 auto;
}

.formCreaScheda{
    text-align: center;
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
}

.formCreaScheda select{
    font-size: 0.75em;
    width: 33%;
    min-width: 12em;
    margin: 0 auto;
    font-family: inherit;
    margin-bottom: 2em;
}

.formCreaScheda input{
    font-size: 0.75em;
    font-family: inherit;
    width: 33%;
    margin: 0 auto;
    min-width: 6em;
    border-radius: 0.5em;
    text-align: center;
}

.formCreaScheda #creaBtn{
    margin-top: 1em;
    margin-bottom: 1em;
}

#creaSchedaInput{
    display: flex;
    justify-content: space-around;
    padding: 0 2em;
}

#creaSchedaInput>div{
    display: flex;
    flex-direction: column;
    margin: 0 1em;
    margin-bottom: 2em;
}

#creaSchedaInput p.error{
    font-size: 0.5em;
    margin: 0 auto;
    color: var(--error);
    padding: 0.25em 0.75em;
    width: fit-content;
    border-radius: 0.25em;
    font-size: 0.9em;
    margin-top: 0.8em;
}

#addExBtn{
    font-size: 0.75em;
    margin: 0 auto;
    margin-bottom: 1.5em;
}

#tabEx{
    margin: 0 auto;
    margin-bottom: 1em;
    padding: 0 2em;
}

#scheda-table{
background-color: var(--transparent);
    text-align: center;
    padding: 1.5em;
    width: 100%;
    width: -webkit-fill-available;
    margin: 0;
    margin-bottom: 1.5em;
}
#scheda-table>h2{
    font-size: 2em;
}
#trainerSchedaDiv{
    margin-top: 2em;
    display:flex;
    flex-direction: column;
}
#trainerSchedaDiv label {
    margin-bottom: 0.5em;
    padding: 0 1em;
}
#trainerSchedaDiv input[type="submit"]:disabled{
    background-color: grey;
    cursor:initial;
}
#trainerScheda{
    text-align: center;
    width: 50%;
    min-width: 10em;
    margin: auto;
}

/*----VISUALIZZA SCHEDA----*/
#ex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3em;
}

.ex{
    background-color: var(--transparent);
    display: flex;
    margin-bottom: 1em;
    border-radius: 1em;
    flex: 1 0 40%;
    margin: 0.5em;
}
.ex-img{
    filter: invert(1);
    background-color: #EAEAEA;
    max-width: 10em;
    height: auto;
    border-radius: 0.5em;
    margin: 1em;
}
.ex-descr{
    padding-left: 5%;
    color: white;
    margin: auto 0;
    margin-right: 1em;
    list-style-type: none;
    text-align: left;
}

li.ex-titolo {
    font-size: 1.6em;
    font-weight: 600;
    color: var(--color2)
}
/*
.ex-descr :first-child{
    font-size: 2em;
}
.ex-descr :last-child{
    margin: 0;
}
*/
.pausa{
    max-width: 12em;
    margin: 1em;
    background-color: var(--color0-verylight);
}
.pausa>.ex-descr{
    color: black;
}
.pausa>.ex-img{
    background-color: var(--color0-dark);
}


/* PROFILO */

.profile-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: -webkit-fill-available;
    padding: 2em 0em;
    padding-top: 2.5em;
}

#private-area-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /*oppure none*/
}

.selezione-data-e-ora {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2em 12em;
}

.selezione-data-e-ora.selezione-data{
    padding: 2em 4em;
    margin: 0 8em;
    display: flex;
    flex-direction: row;
}

.selezione-data-e-ora.selezione-data .button{
    margin: 0;
    margin-left: auto;
    font-size: 1.2em;
}

.selezione-data-e-ora.selezione-data .inline-selectbox{
    justify-content: flex-start;
}

#selezioneOrari {
    width: 100%;
    width: -webkit-fill-available;
}

#private-area-content {
    /* margin:  da levare; */
    width: 100%;
    width: -webkit-fill-available;
    margin: 0;
}

#profileTitle {
    margin-bottom: 0;
    margin-top: 0;
}

img.profilePicture {
    /* max-width: 25%; */
    height: 13em;
    width: 13em;
    border: solid 0.4em;
    border-radius: 10em;
    border-color: #ffffff26;
    object-fit: cover;
}
.input-wrapper img.profilePicture {
    margin: auto;
}
#user-profile-img{
    margin: auto;
}

label[for="copertina"] .profilePicture {
    border-radius: 1em;
}
label[for="profile-img"]>:first-child{
    margin-bottom: 0;
}

.input-label-img {
    text-align: initial;
}

.hint {
    margin-top: 0;
    font-size: 0.8em;
}

.profileData {
    font-size: 1.4em;
    min-width: 23em;
}

.profileData li {
    display: flex;
    justify-content: space-between;
}

.profileData li:first-child {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 0.3em;
    color: var(--color2);
}

.profileData ul {
    list-style-type: none;
}

a.button {
    width: fit-content;
    text-decoration: none;
}

#private-area-menu {
    /*display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: auto;*/
    margin-top: 0;
    padding-right: 1.1em;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

#private-area-menu .button {
    margin: 0em;
    margin-bottom: 0.8em;
    border-radius: 0;
    min-width: 8em;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: normal;
    padding: 0.5em 0.5em;
}

#private-area-menu li:last-child a{
    margin-bottom: 0;
}

li#private-area-selected p{
    background-color: var(--color2);
    cursor: initial;
    color: black;
}

li#private-area-selected img{
    filter: invert(1);
}

select option {
    background: #272727;
    color: white;
}

.page-box {
    width: 100%;
    width: -webkit-fill-available;
    background-color: var(--transparent);
    padding-top: 2em;
    min-height: 24.7em;
}

.inline-selectbox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: center;
}

.inline-selectbox input {
    padding: 0.5em 0.4em;
}
.selezione-data-e-ora .inline-selectbox input {
    float: right;
}

.width-fill-available {
    width: 100%;
    width: -webkit-fill-available;
}

/****************CREA PROFILO*******************************/
#containerCreaPro{
    background-color: var(--transparent);
    width: 100%;
    width: -webkit-fill-available;
}

#containerCreaProDark{
    background-color: var(--transparent-dark);
    width: 100%;
    width: -webkit-fill-available;
}
/* #loginForm input{
    width: 100%;
} */
.super-radio-wrapper{
    display: flex;
    justify-content: space-around;
}
.radio-wrapper{
    display: flex;
    align-items: baseline;
}
#loginForm .radio-wrapper>input{
    width: auto;
}
#consiglio{
    margin-top: 0;
    font-size: 0.8em;
}
#creaBtn{
    margin-top: 0.7em;
}
#deleteBtn{
    margin-top: 0;
}
#annullaBtn{
    background-color: var(--color3);
}
#annullaBtn:hover{
    background-color: var(--color1-dark);
}
#creaBtn, #deleteBtn, #annullaBtn, #confirmElimination {
    width: auto;
    min-width: 5em;
}
#confirmElimination{
    margin-top: 0;
}
#inline-buttons {
    display: flex;
}
#inline-buttons #creaBtn {
    margin-bottom: 0;
    margin: auto;
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--transparent-dark);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background: var(--color2);        /* color of the tracking area */
}

/*------------ABOUT US--------------------*/
main#aboutus-container{
    background-color: var(--transparent-dark);
    color: white;
    padding: 3%;
    margin: auto;
    font-size: 1.2em;
    margin-bottom: 2em;
}
main#aboutus-container h1{
    font-size: 2.5em;
    margin: 0;
}
main#aboutus-container h2{
    margin: 1.4em;
}

main#aboutus-container img {
    margin: 3em auto;
    display: block;
    width: 60%;
    height: auto;
}

/*----------------ERROR/SUCCESS----------------*/
div.input-wrapper.error p.error{
    width: fit-content;
    border-radius: 0.3em;
    color: var(--error);
}

div.input-wrapper.error .transparent-login {
    background-color: var(--error);
    color: black;
}

div.input-wrapper.success .transparent-login {
    background-color: var(--success-background);
    color: black;
}

/****************MODAL************************/
#backdrop{
    display: none;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / .55);
}

.confirm-delete-box{    
    display: none;
    position: fixed;
    z-index: 1000;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    gap: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em 2em 3em;
    background-color: var(--dark);
    text-align: center;
    max-width: 450px;
    border-radius: 16px;
    box-shadow:
    0 0px 2.2px 0px rgba(0, 0, 0, 0.44),
    0 0px 5.3px 1px rgba(0, 0, 0, 0.58),
    0 0px 10px 2px rgba(0, 0, 0, 0.65),
    0 0px 17.9px 3px rgba(0, 0, 0, 0.72),
    0 0px 80px 5px rgba(0, 0, 0, 0.32);
}
.confirm-delete-box h2 {
    text-transform: uppercase;
}

.confirm-delete-box h2{
    color: white;
}

#confirmDelete {
    background-color: var(--danger);
    color: white;
}

.confirm-delete-box .delete-box-buttons{
    margin-top: 1em;
    display:flex;
    flex-direction: row;    
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.standard-text {
    font-size: 1.2em;
    padding: 0 9em;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--success-background) inset;
    -webkit-text-fill-color: black;
}

#errorFlex{
    display: flex;
    flex-wrap: wrap;
}
#errorFlex div:first-child{
    background-color: var(--transparent);
}
#errorFlex div{
    margin-top: 1.5%;
    padding: 1.5%;
    width: 45%;
}
#errorFlex img{
    width: 90%;
}
.errorMain h1{
    margin-bottom: 0;
}
.errorMain h2{
    margin:0;
}
#serverError {
    padding: 2em;
    border-radius: 1em;
}