div.grid-item {
    background-image: linear-gradient(to bottom right, #123456, #3aa6d1);
}

html, body {
    max-width: 100%;
    margin: auto;
}

navbar, main {
    max-width: 1200px;
}

navbar {
    margin:auto;
}

.grid-container {
    margin: auto;
}

ul#breadcrumb {
    padding: 0;
    display: flex;
    color: white;
    padding: 0.5em 1em;
    max-width: 1200px;
    justify-content: center;
}