<footer>
    <div id="contatti-social">
        <div id="contatti">
            <h3>Contatti</h3>
            <ul>
                <li>
                    <i class="fa fa-phone"></i>
                    0498079289
                </li>
                <li>
                    <i class="fa fa-whatsapp"></i>
                    392 3909778
                </li>
            </ul>
        </div>
        <div id="Indirizzo">
            <h3>Indirizzo</h3>
            <ul>
                <li>
                    vicolo Ognissanti 1/C
                </li>
                <li>
                    Padova 35129
                </li>
            </ul>
        </div>
        <div id="social">
            <h3>Social</h3>
            <ul>
                <li>
                    <i class="fa fa-instagram"></i>
                    <a href="https://www.instagram.com/fitness_dance_academy/">@fitness_dance_academy</a>
                </li>   
                <li>
                    <i class="fa fa-facebook"></i>
                    <a href="https://www.facebook.com/palestrafda/">Palestra Fitness & Dance Academy</a>
                </li>
            </ul>
        </div>
    </div>
    <p>© 2022 FDA - Fitness & Dance Academy</p>
</footer>