<footer>
    <div id="contatti-social">
        <div id="contatti">
            <h3>Contatti</h3>
            <ul>
                <li>
                    <i class="fa fa-phone"></i>
                    <a href="tel:0498079289">0498079289</a>
                </li>
                <li>
                    <i class="fa fa-whatsapp"></i>
                    <a href="tel:3923909778">392 3909778</a>
                </li>
            </ul>
        </div>
        <div id="Indirizzo">
            <h3>Indirizzo</h3>
            <a href="https://www.google.it/maps/dir//Vicolo+Ognissanti,+1c,+35131+Padova+PD/@45.4074832,11.8888338,16z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x477edaf7357a7285:0xedc6955697a443fa!2m2!1d11.8932112!2d45.4074833!3e2">
                vicolo Ognissanti 1/C, Padova 35129
            </a>
        </div>
        <div id="social">
            <h3>Social</h3>
            <ul>
                <li>
                    <i class="fa fa-instagram"></i>
                    <a href="https://www.instagram.com/fitness_dance_academy/"><span xml:lang="en" lang="en">Instagram</span></a>
                </li>   
                <li>
                    <i class="fa fa-facebook"></i>
                    <a href="https://www.facebook.com/palestrafda/"><span xml:lang="en" lang="en">Facebook</span></a>
                </li>
            </ul>
        </div>
    </div>
    <p>© 2022 FDA - <span xml:lang="en" lang="en">Fitness & Dance Academy</span></p>
</footer>