<header>
    <img id="img-logo" src="img/logoFDA.png" alt="il nostro logo rappresentante un teschio con dietro due bilancieri"/>
    <h1 id="title"><span xml:lang="en">Fitness Dance Academy</span></h1>
    <navbar>
        <ul>
            <li>
                <span xml:lang="en">HOME</span>
            </li>
            <li id="selectedNavbar">
                CORSI
            </li>
            <li>
                SCHEDE
            </li>
            <li>
                SESSIONE
            </li>
            <li>
                EVENTI
            </li>
            <li>
                PROFILO
            </li>
        </ul>
    </navbar>
</header>